- if @user == current_user
  - if @user.profile.present?
    = link_to 'Edit Profile', edit_profile_path(@user.user_name)
  - else
    - link_to 'Create Profile', create_profile_path(@user.user_name)
- @posts.each do |post|
  = render partial: 'posts/post', locals: {post: post}
