.section
  %p.title.is-size-3.menu-label.has-text-centered Notifications
  %ul.menu-list
    - notifications.each do |notification|
      %li.is-size-3.has-text-centered= link_to notification_formatter(notification), link_through_path(notification), class: 'navbar-item is-size-3'
