= render partial: 'user_type', locals: { users: @not_friends_yet, label: 'UnMet Friends'}

= render partial: 'user_type', locals: { users: @friends, label: 'Friends'}

= render partial: 'user_type', locals: { users: @pending_friends, label: 'Pending Friends'}

= render partial: 'user_type', locals: { users: @requested_friends, label: 'Requested Friends'}
