- notifications.each do |notification| 
  = link_to "#{notification.notified_by.user_name} #{notification.notice_type}ed #{p 'on' if notification.notice_type != 'like'} your post", link_through_path(notification), class: 'navbar-item'
