- @posts.each do |post|
  %h1= current_user.user_name
  %h1= post.content
  %ul
    %li= link_to 'Delete', 
      user_post_path(current_user, post),
      method: :delete, 
      data: {confirm: 'Are you sure?'}  
    %li= link_to 'Edit', edit_user_post_path(current_user, post.id)
  %br
