@import 'bulma';

.small-form {
  width: 400px;
  padding: 15px;
}

.small-form-lg {
  margin: 0 auto;
  width: 600px;
}

.text-box {
  display: inline;
  height: 300px;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.field-left {
  display: flex;
  justify-content: flex-end;
}

.friends {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.friend {
  width: 84px;
  padding-right: 10px;
}

.section-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
